name: Validating Release of GDG on Tag
on:
  push:
   branches: 
     - main

jobs:
  validate_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - name: Setup Release
        uses: ./actions/release
        with:
          go_version: '1.25.5'
          docker_user: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"  ## or latest, nightly
          args: build --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TOKEN: ${{ secrets.HOMEBREW_TOKEN }}
